body,html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.stats-msg-box{
    margin: 10px 0;
    font-size: 20px;
}
.stats-msg-box b{
    font-weight: 600;
}
#secondNotice{
    display: none;
    color: red;
}
.layui-body{
    /*background: rgb(239,243,246);*/
}
.padding-15{
    padding: 15px;
}
.margin-15{
    margin: 15px;
}
.lang-label label{
    width: 120px;
}