<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sicau.votesys.dao.AdminDao">

    <select id="queryAdminInfoByUsernameAndPassword" resultType="org.sicau.votesys.domain.PO.AdminPO">
      select * from admin_t where username=#{username} and password=#{password}
    </select>
    <select id="selectAdminNumById" resultType="java.lang.String">
        select id from admin_t where id = #{id};
    </select>
</mapper>