<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--此处是对应UserDao接口-->
<mapper namespace="org.sicau.votesys.dao.UserDao">
    <resultMap id="UserResultMap" type="org.sicau.votesys.domain.PO.UserPO">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="real_name" jdbcType="VARCHAR" property="realName"/>
        <result column="role" jdbcType="VARCHAR" property="role"/>
        <result column="campus" jdbcType="VARCHAR" property="campus"/>
        <result column="has_log" jdbcType="BOOLEAN" property="hasLog"/>
        <result column="login_ip" jdbcType="VARCHAR" property="loginIp"/>
        <result column="sicau_id" jdbcType="VARCHAR" property="sicauId"/>
        <result column="login_browser_info" jdbcType="VARCHAR" property="loginBrowserInfo"/>
        <result column="log_cookie_id" jdbcType="VARCHAR" property="logCookieId"/>
    </resultMap>
    <update id="updateUserInfoById">
        update user_t set
        has_log=#{hasLog},
        login_ip=#{loginIp},
        <if test="loginBrowserInfo">
            login_browser_info=#{loginBrowserInfo},
        </if>
        log_cookie_id=#{logCookieId}
    </update>

    <select id="selectAllUserInfo" resultMap="UserResultMap">
        select * from user_t;
    </select>

    <select id="selectUserByUsernameAndPassword" resultMap="UserResultMap">
        select * from user_t where username=#{username} and password=#{password};
    </select>
    <select id="selectUserNumById" resultType="java.lang.Integer">
        select id from user_t where id = #{id};
    </select>
</mapper>