<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--此处是对应UserDao接口-->
<mapper namespace="org.sicau.votesys.dao.UserDao">
    <!--此处的Student对应POJO实体，id对应定义方法名-->
    <select id="selectAllUserInfo" resultType="org.sicau.votesys.domain.VO.User">
        select * from user_tb;
    </select>
</mapper>