<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sicau.votesys.dao.VoteDao">

    <resultMap id="CurrentVoteInfoMap" type="org.sicau.votesys.domain.VO.CurrentVoteInfoVO">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="start_vote" jdbcType="BOOLEAN" property="startVote"/>
        <result column="start_vote_college" jdbcType="BOOLEAN" property="startVoteCollege"/>
        <result column="current_field" jdbcType="INTEGER" property="currentField"/>
        <collection property="currentCampus" ofType="org.sicau.votesys.domain.PO.CampusPO">
            <id column="current_campus_id" jdbcType="VARCHAR" property="id"/>
            <result column="campus_name" jdbcType="VARCHAR" property="campusName"/>
        </collection>
        <collection property="currentCollege" ofType="org.sicau.votesys.domain.PO.CollegePO">
            <id column="current_college_id" jdbcType="VARCHAR" property="id"/>
            <result column="college_name" jdbcType="VARCHAR" property="collegeName"/>
            <result column="campus_id" jdbcType="VARCHAR" property="campusId"/>
            <result column="candidate_num" jdbcType="VARCHAR" property="candidateNum"/>
        </collection>
    </resultMap>

    <resultMap id="RaterVoteLogMap" type="org.sicau.votesys.domain.VO.RaterVoteLogVO">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="vote_field" jdbcType="VARCHAR" property="voteField"/>
        <result column="vote_time" jdbcType="TIMESTAMP" javaType="java.sql.Date" property="voteTime"/>
        <result column="vote_candidate_result" jdbcType="VARCHAR" property="voteCandidateResult"/>
        <collection property="rater" ofType="org.sicau.votesys.domain.PO.UserPO">
            <id column="rater_id" jdbcType="VARCHAR" property="id"/>
            <result column="role" jdbcType="VARCHAR" property="role"/>
        </collection>
    </resultMap>
    <insert id="insertVoteResult">
        insert into rater_vote_log_t
        (id,rater_id,
        <if test="voteField == 1">
            vote_college_id,
        </if>
        <if test="voteCandidateResult != 'waiver' ">
            vote_candidate_result,
        </if>
        vote_field)
        values (#{id},#{raterId},
        <if test="voteField == 1">
            #{currentCollegeId},
        </if>
        <if test="voteCandidateResult != 'waiver' ">
            #{voteCandidateResult},
        </if>
        #{voteField})
    </insert>
    <insert id="insertSecondVoteLog">
        insert into second_vote_log_t(id,rater_id) values (#{id},#{raterId})
    </insert>
    <insert id="addCollege" parameterType="org.sicau.votesys.domain.PO.CollegePO">
        insert into college_t values (#{collegePO.id},#{collegePO.campusId},#{collegePO.collegeName},#{collegePO.candidateNum})
    </insert>
    <update id="updateCurrentStats">
        update current_vote_t set
        start_vote=#{startVote},
        <if test="currentField == 1">
            current_college_id=#{currentCollegeId},
        </if>
        current_field=#{currentField}
    </update>
    <update id="startAndStopVote">
        update current_vote_t set start_vote_college =
        <choose>
            <when test="msg == 'start'">
                1
            </when>
            <otherwise>
                0
            </otherwise>
        </choose>
    </update>
    <update id="updateSecondVote" parameterType="java.util.ArrayList">
        update second_student_t set voted_num = voted_num + 1
        where
        <foreach collection="list" item="candidateId" separator="or">
             id = #{candidateId}
        </foreach>
    </update>
    <select id="queryCurrentVoteInfo" resultMap="CurrentVoteInfoMap">
      select `current`.*,`campus`.campus_name,`campus`.id as current_campus_id,
      `college`.campus_id,`college`.college_name,`college`.candidate_num
      from current_vote_t as `current` join college_t as college join campus_t as campus on
      `college`.campus_id = campus.id and `current`.current_college_id = college.id;
    </select>
    <select id="queryFirstVoteList" resultType="org.sicau.votesys.domain.VO.CandidateVO">
        select * from candidate_t where college_id = #{collegeId};
    </select>
    <select id="queryHasVote" resultType="java.lang.Object">
        select id from rater_vote_log_t where vote_field = #{voteField}
        <if test="voteField == 1">
            and vote_college_id = #{currentCollegeId}
        </if>
        and rater_id = #{raterId}
    </select>
    <select id="queryAllCollegeList" resultType="org.sicau.votesys.domain.VO.CollegeVO">
        select college_t.id,college_t.college_name,college_t.candidate_num,campus_t.campus_name
        from college_t join campus_t on college_t.campus_id = campus_t.id;
    </select>
    <select id="queryRaterVoteLogList" resultMap="RaterVoteLogMap">
        select log.*,rater.id as rater_id,rater.role as role
        from rater_vote_log_t as log join user_t as rater
        on log.rater_id = rater.id and log.vote_field=#{voteField} and log.vote_college_id = #{collegeId};
    </select>

    <select id="queryFirstVoteResult" resultType="org.sicau.votesys.domain.VO.FirstVoteResultVO">
        SELECT candidate_id,candidate_name,college_name,SUM(num) AS SUM
FROM (SELECT candidate_id,number * 3 AS num,role,candidate_name,college_name
FROM (SELECT vote.vote_candidate_result AS candidate_id,COUNT(vote.rater_id) AS number,user_t.role,candidate_t.candidate_name,college_t.college_name
FROM rater_vote_log_t AS vote JOIN user_t JOIN candidate_t JOIN college_t
         ON vote.rater_id = user_t.id AND vote_candidate_result = candidate_t.id AND candidate_t.college_id = college_t.id
         GROUP BY vote_candidate_result,role ORDER BY vote_candidate_result
) AS a
WHERE role='teacher'
UNION
SELECT candidate_id,number,role,candidate_name,college_name
FROM (SELECT vote.vote_candidate_result AS candidate_id,COUNT(vote.rater_id) AS number,user_t.role,candidate_t.candidate_name,college_t.college_name
FROM rater_vote_log_t AS vote JOIN user_t JOIN candidate_t JOIN college_t
         ON vote.rater_id = user_t.id AND vote_candidate_result = candidate_t.id AND candidate_t.college_id = college_t.id
         GROUP BY vote_candidate_result,role ORDER BY vote_candidate_result
) AS a
WHERE role='student') AS b GROUP BY candidate_id,candidate_name,college_name
    </select>
    <select id="getSecondVoteData" resultType="org.sicau.votesys.domain.PO.SecondCandidatePO">
        select * from second_student_t;
    </select>
    <select id="queryHasSecondVote" resultType="java.lang.String">
        select id from second_vote_log_t where rater_id=#{raterId}
    </select>
    <select id="querySecondPassNum" resultType="java.lang.Integer">
        select pass_num from second_data_t;
    </select>
    <select id="querySecondVotedNum" resultType="java.lang.Integer">
        select count(*) from second_vote_log_t;
    </select>
    <select id="getSecondVoteDataOrderByNum" resultType="org.sicau.votesys.domain.PO.SecondCandidatePO">
        select * from second_student_t order by voted_num desc ;
    </select>
</mapper>